header h2 {
    margin: 5px auto;
    width: fit-content;
    color: var(--color-neutral-blue-dark);
}

header h2:nth-child(1) {
    font-weight: 200;
}

header h2:nth-child(2) {
    font-weight: 600;
}

header p {
    width: 80%;
    max-width: 500px;
    color: var(--color-neutral-grayblue);
    text-align: center;
    margin: 15px auto;
}

.App {
    margin: 60px 0px;
}

.carditem:nth-child(1) {
    grid-area: supervisor;
}

.carditem:nth-child(2) {
    grid-area: teambuilder;
}

.carditem:nth-child(3) {
    grid-area: karma;
}

.carditem:nth-child(4) {
    grid-area: calculator;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    place-items: center;
    margin: 50px 0px;

    grid-template-areas: 
    "supervisor"
    "teambuilder"
    "karma"
    "calculator";
}

@media (min-width: 880px) {
    header h2 {
        font-size: 30px;
    }

    .cards {
        grid-template-columns: 350px 350px;
        justify-content: center;
        grid-template-areas: 
        "supervisor teambuilder"
        "karma calculator";
    }
}

@media (min-width: 1200px) {
    header h2 {
        font-size: 30px;
    }

    .cards {
        grid-template-columns: 350px 350px 350px;
        justify-content: center;
        grid-template-areas: 
        "supervisor teambuilder calculator"
        "supervisor karma calculator";
    }
}
