:root {
    --color-primary-red: hsl(0, 78%, 62%);
    --color-primary-cyan: hsl(180, 62%, 55%);
    --color-primary-orange: hsl(34, 97%, 64%);
    --color-primary-blue: hsl(212, 86%, 64%);

    --color-neutral-blue-dark: hsl(234, 12%, 34%);
    --color-neutral-grayblue: hsl(229, 6%, 66%);
    --color-neutral-lightgray: hsl(0, 0%, 98%);
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-neutral-lightgray);
}
